
.slideShow {
    box-sizing: border-box; 
    width: 33.3%;
    display: inline-block;
    text-align: center;
    font-weight:bold; 
}

.slideShow img { 
    border-radius:8px;
    box-shadow: 5px 5px 5px #888888;
}

.slideShow button { 
    width: 40px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.slideShow myCaption{
    text-align: center;
    color: blueviolet;
}
